<form method="get" action="/quizes/busqueda">
      <input type="text" name="search" value="Busque aquí"/>
      <input type="submit" value="Enviar">
</form>
  <table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
     <tr><td><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
  </table>
